.card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  padding: 20px;
  background-color: #a7a7a7;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}