.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

@media screen and (max-width: 758px) {
  .row {
    flex-direction: column-reverse;
  }
  .column {
    flex: 1
  }
}