.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 758px) {
  .home-container {
    flex-direction: column-reverse;
    &.card:last-child {
      margin-bottom: 20px;
    }
  }
}