.default-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 1rem;
  color: #212529;
  text-align: center;
  .inside {
    color: white;
    span {
      background-color: green;
      padding: 4px 3px;
      border-radius: 25px;
    }
  }
  .outside {
    color: white;
    span {
      background-color: red;
      padding: 3px 5px;
      border-radius: 25px;
    }
  }
}

.default-table th,
.default-table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.default-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.default-table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}