.card {
  position: relative;
  min-width: 0;
  padding: 20px;
  background-color: var(--main-bg);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  h1 {
    color: white;
  }
  @media screen and (max-width: 758px) {
    & {
      width: 80%;
    }
  }
}